<!--<div id="home">-->
    <!--<div id="header">-->
        <!--<div id="profile">-->
            <!--<div id="profile_photo"><img class="photograph" src='app/img/{{user.imgPath}}'/></div>-->
            <!--<div class="name">{{user.name}}</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div id="middle_container">-->
        <!--<div class="middle_menu">-->
            <!--<div class="cyrcle" id="{{item.id}}" ng-repeat="item in menu" ng-click="selectMenu(item)" ng-class="{'selected_menu': item.id == selectedMenu.id}" ng-show="item.visible"><div>{{item.title | i18next}}</div></div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->